{% extends 'public/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row mb-4">
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7">
                <p>{{single_machine.machinery_name }}</p>
                <div class="card">
                    <img src="{{single_machine.image.url}}" class="card-img-top" alt="Reuby" id="machine-image">
                </div>

            </div>
            <div class="col-md-5">
                <div class="row">
                    <p class="text-center">
                        {{single_machine.machinery_properties}}
                    </p>
                </div>
                <div class="row mb-4 ps-5 pt-3">
                    <!-- Availability -->
                    <a class="btn btn-outline-right btn-sm col-md-4 me-3 mb-3" id="c">
                        <h5>{{single_machine.availability }}</h5>
                        <span class="sc">Availability</span>
                    </a>

                    <!-- Hire price -->
                    <a class="btn btn-outline-success btn-sm col-md-4 me-3 mb-3" id="c">
                        <h5>{{single_machine.hire_price }}</h5>
                        <span class="sc">Day Hire Price</span>
                    </a>

                    <!-- ploughing_pay_rate -->
                    <a class="btn btn-outline-primary btn-sm col-md-4 me-3 mb-3" id="c">
                        <h5>{{single_machine.ploughing_pay_rate }}</h5>
                        <span class="sc">Ploughing Price</span>
                    </a>

                    <!-- planting_pay_rate -->
                    <a class="btn btn-outline-secondary btn-sm col-md-4 me-3 mb-3" id="c">
                        <h5>{{single_machine.planting_pay_rate }}</h5>
                        <span class="sc">Planting Price</span>
                    </a>


                    <!-- forklifting_pay_rate -->
                    <a class="btn btn-outline-warning btn-sm col-md-4 me-3  mb-3" id="c">
                        <h5>{{single_machine.forklifting_pay_rate }}</h5>
                        <span class="sc">Forklifting Price</span>
                    </a>

                    <!-- forklifting_pay_rate -->
                    <a class="btn btn-outline-dark btn-sm col-md-4 me-3  mb-3" id="c">
                        <h5>{{single_machine.transport_pay_rate }}</h5>
                        <span class="sc">Transportation Price</span>
                    </a>
                    <!-- operator_name -->
                    <a class="btn btn-outline-info btn-sm col-md-4 me-3 mb-3" id="c">
                        <h5>{{single_machine.operator_name }}</h5>
                        <span class="sc">Operator Name</span>
                    </a>

                </div>
                <hr>
                <div class="row ps-5">
                    <div class="col-md-6">
                        <a href="{% url 'comment' single_machine.id %}" class="btn btn-warning">Comment & Rate</a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'order' single_machine.id %}" class="btn btn-success">Book / Hire</a>
                    </div>
                </div>





            </div>

        </div>

    </div>
</div>
{% endblock content %}